			@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
	
			body{
				font-family: 'Yanone Kaffeesatz', sans-serif;
				background-color: #ddd;
			}

			*{
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;				
			}

			a{color:inherit;text-decoration:none;}			

			.pageLayoutContainer>h1{
        color: rgba(0, 0, 0, 0.19);
        z-index: 0;
        position: absolute;
        right: 20px;
        bottom: 0;
        font-size: 40px;
        line-height:50px;
        padding: 0;
        margin: 0;
        text-shadow: 0px 1px 1px  rgba(255,255,255,1);
        display:inline-block;
			}
			.plug{padding:15px 20px;position:absolute;}
			.cta{
        font-size:25px;
        color:#666;
        padding: 0;
        margin: 0;
        position: absolute;
        left: 20px;
        bottom: 0;
        line-height:40px;
       }

			.pageLayoutContainer{
				height:100%;
				width:100%;
				position:absolute;
				top:0;
				left:0;
				margin:0;
				border: black solid 1px;
			}

			.pageFold{
				height: 2000px;
				width: 100%;
				text-align: center;
				position: absolute;
				top:100%;
				background-color: #bbb;

			}

			.pageFold img{
				top:300px;
				position: relative;
			}



			/* === Tremula Styles === */

			/* Note: any gridBox border added must be compensated for by adding negative margin */
			.gridBox{
				border:#fff 10px solid;
				margin: -10px 0 0 -10px;
			}
			.moneyShot{
				width: 100%;
			}

			.lastContentItem{
				background-color: #eee;
				width: 100%;
				height: 440px;
			}
			
			.lastContentItem span{
				top: 100%;
				position: absolute;
				display: inline-block;
				right: 5%;
				background-color: rgb(255, 181, 42);
				font-size: 30px;
				padding: .25em;
			}


			/* .tremulaContainer must have actual dimentionality (set H&W) */
			.tremulaContainer{
				height:60%;
				height:calc(100% - 120px);
				width:90%;
				position:relative;
				top:20px;
				left:0;
				z-index: 1;
				margin:25px auto;
				border: black solid 1px;
			}